[package]
name = "dlpark"
version = "0.4.1"
edition = "2021"
authors = ["SunDoge"]
license = "Apache-2.0"
description = "dlpack Rust binding for Python"
homepage = "https://crates.io/crates/dlpark"
documentation = "https://docs.rs/dlpark"
repository = "https://github.com/SunDoge/dlpark"
readme = "README.md"
exclude = [".github/"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
half = { version = "2.3", optional = true }
pyo3 = { version = "0.20", optional = true }

[workspace]
members = ["examples/from_numpy", "examples/with_pyo3", "examples/dlparkimg"]

[features]
default = []

pyo3 = ["dep:pyo3"]
half = ["dep:half"] # support f16 and bf16

# for examples/dlparkimg
[profile.dev.package."image"]
opt-level = 3
